language : node_js
node_js :
 - stable
before_install:
- npm update
install:
- npm install
script:
- npm test
- npm run coveralls
before_script:
 - npm run build
branches:
  only:
  - master
cache:
  directories:
  - node_modules
